.container {
    padding:40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    width: fit-content;
    margin:0 auto 15px;
    color: hsl(229, 31%, 21%);
    font-weight: 500;
}

p{
    line-height: 1.6;
    color: #aaa;
    margin: 0;
}

.btn {
    border-radius: 5px;
    padding: 13px 20px;
    font-size:12px;
    font-weight: 500;
    border: 1.5px solid hsl(231, 69%, 60%);
    transition: .3s;
    color: white;
    background-color: hsl(231, 69%, 60%);
    display: inline-block;
    margin-top: 33px;
    width: fit-content;
    transition: var(--main-transition);
    cursor: pointer;
}

.btn:hover{
    color: hsl(231, 69%, 60%);
    background-color: white;
}

.same{
    position: relative;
    z-index: -1;
}

.same::before{
    content: "";
    position: absolute;
    background-color: hsl(231, 69%, 60%);
    z-index: -2;
}

.same::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: hsl(231, 69%, 60%);
    border-radius: 50%;
    z-index: -2;
}

.active{
    position: relative;
}

.active::before{
    content: "";
    position: absolute;
    background: hsl(0, 94%, 66%);
    width: 50%;
    height: 4px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.d-flex{
    display: flex;
}

.d-none{
    display: none !important;
}

.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.between-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mb-80{
    margin-bottom: 80px;
}

.t-center{
    text-align: center;
}

.p-relative{
    position: relative;
}

.h-fit{
    height: fit-content !important;
}

.rotate-180{
    transform: rotate(180deg) !important;
}

/* .rotate-{
    transform: rotate(180deg);
} */

@media (max-width: 767px){
    .none-mobile{
        display: none;
    }
}

@media (min-width:768px){
    .m-l-none{
        display: none;
    }
}
